.App {
  text-align: center;
  min-height: 10vh;
  background-color: #fbf6f0;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: #ebb166;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe{
  border-radius: 10px;
  box-shadow: 0px 5px 20px snow;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}

/* NAV */
body{
  background-color: #fbf6f0;
}
nav{
  min-height: 10vh;
  background-color: #aee6e6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
}
ul{
  display: flex;
  justify-content: space-between;
  width: 10%;
}
li{
  list-style: none;
}
.nav-text{
  font-family: 'Anton', sans-serif;
  pointer-events: none;
  font-size: 2rem;
}

